.jqlvGallery01 {
	-webkit-perspective: 1600px;
	-moz-perspective: 1600px;
	-ms-perspective: 1600px;
	-o-perspective: 1600px;
	perspective: 1600px;
}

.jqlvGallery01 .active {
	top: 0;
	left: 0;
	z-index: 1;
}

.jqlvGallery01 .non-active {
	z-index: 0;
}

.jqlvGallery01 .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000000;
	top: 0;
	left: 0;
	opacity: 0;
}
