.lv-btn-round-border {
	position: relative;
	height: 100%;
	height: 100%;
}


.lv-btn-round-border .inner-before {
    border-radius: 50%;
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 0;
    top: 0;
    left:0;
}

.lv-btn-round-border .inner{
    cursor: default;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left:0;
}

.lv-btn-round-border .slice {
    height: 100%;
    width: 100%;
    position: absolute;
}

.lv-btn-round-border .slice-dx {

}

.lv-btn-round-border .slice-sx {
}

.lv-btn-round-border .pie {
    border: 10px solid #DF6C4F;
    border-radius: 50%;
    height: 100%;
    position: absolute;
    width: 100%;
}

.lv-btn-round-border .slice-sx .pie {
   transform: rotate(180deg);
   -webkit-transform: rotate(180deg);
}