/**
 * 	FULL-FLEXSLIDER
 */

.full-flexslider .flex-viewport {
	width: 100%;
	height: 100%;
}

.full-flexslider .flex-viewport .slides{
	height: 100%;
}

.full-flexslider .flex-viewport .slides li{
	height: 100%;
	width: 100%;
	position: relative;
	overflow: hidden;
}

.full-flexslider-timer {
	background: #ffc283;
	height: 5px;
	top:26px;
	position: absolute;
	left:0;
	width: 0%;
}

.full-flexslider-background {
	position: absolute;
	top: 0;
	left: 0;
	background: #000000;
	opacity: .5;
	width: 100%;
	height:100%;
}

/**
 * 	FULL-FLEXSLIDER
 */

.flexslider{
	border: none !important;
	border-radius: 0px !important;
	box-shadow: none !important;
	margin-bottom: 0px !important;
	background: none;
	overflow: hidden;
	min-height: 250px;
}
.flex-direction-nav .flex-prev{
	background-position: 100% 0;
	left: 0;
}
.flex-direction-nav .flex-next {
	background-position: 100% 0;
	right: 0;
}
.flex-control-nav{
	z-index: 999;
	margin-top: 10px;
}

/**
 * 	MINI FLEXSLIDER
 */

.mini-flexslider ol {
	text-align: center;
}

.mini-flexslider ol li {
	list-style-type: none!important;
	list-style: none;	
}

.mini-flexslider .flex-control-nav li{
	display: inline-block;
	height: 10px;
	width: 10px;
	margin-right: 10px;
	cursor: pointer;
	list-style-type: none!important;
	list-style: none;
	overflow: hidden;
	border: 1px solid #AAAAAA;
}

.mini-flexslider .flex-control-nav li a{
	height: 10px;
	width: 10px;
	display: block;
	padding-top: 10px;
	overflow: hidden;
}

.mini-flexslider .flex-control-nav li a.flex-active {
	background: #666666;
}