body {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	background: #FFFFFF !important
}

h1, h2, h3 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
}
h2 {
  font-size: 7rem;
  margin-bottom: 1rem;
}
h3 {
  font-size: 2.6rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
p {
  font-size: 1.6rem;
  margin: 2rem 0;
  font-weight: 400;
}

li {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul {
	margin: 0;
	padding: 0;
}

.color-green {
  color: #2d562a;
}
.color-yellow {
  color: #d4c6ac;
}
.color-white {
  color: #ffffff;
}
.color-black {
  color: #000000;
}

.bg-gray {
  background-color: #d2d4d3;
}

.bg-yellow {
  background-color: #fbf8eb;
}

.box-placeholder {
  width: 95%;
  height: 65vh;
}

.general-big-padding {
  padding: 15rem 0;
}
.general-big-margin {
  margin: 10rem 0;
}
.banner-header {
  position: relative;
  width: 100%;
  height: calc(100vh - 80px);
  margin-top: 80px;
}

.full-flexslider {
	width: 100%;
	height: 100%;
}

label.error {
	display: none!important;
}

.general-preloader {
	top: 50%;
	left: 50%;
	position: fixed;
	width: 20px;
	height: 20px;

}

/*
 * -------------------------------------------------------> TOOLTIP
 */

.tooltipster-mybellagiohome {
	border: 1px solid #cccccc;
	background: #FFFFFF;
	color: #666666;
	font-family: 'lektonbold', sans-serif;
}
.tooltipster-mybellagiohome .tooltipster-content {
	font-size: 12px;
	line-height: 16px;
	padding: 8px 10px;
}

.tooltipster-mybellagiohome-ico {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid #cccccc;
	background: #FFFFFF;
	color: #666666;
	width: 70px;
	height: 70px;
	overflow: hidden;
}
.tooltipster-mybellagiohome-ico .tooltipster-content {
	font-size: 12px;
	width: 70px;
	height: 70px;
}

.tooltipster-mybellagiohome-ico img {
	width: 55px;
	height: auto;
	margin-left: 7px;
	margin-top: 5px;
}

/*
 * -------------------------------------------------------> MAIN WRAPPER
 */

#main-wrapper {
	display: none;
}

/*
 * -------------------------------------------------------> MAIN HEADER
 */

#main-header-wrapper {
	width: 100%;
	height: 70px;
	background: #FFFFFF;
	position: absolute;
	bottom: 0;
	z-index: 999;
	box-shadow: 0 0 5px #999999;
}

#main-header .main-nav {
	float: right;
}

#main-header .logo img{
	display: block;
	height: 70px;
	width: auto;
}

#main-header .main-nav li{
	display: inline-block;
	height: 100%;
	line-height: 70px;
	padding: 0 20px;
	font-size: 16px;
}

#main-content-wrapper {
	position: relative;
	top: 0;
}

/*
 * -------------------------------------------------------> HOME CONTAINER
 */

.main-header {
	position: fixed;
	top: 0;
	width: 100%;
	max-height: 90px;
	background: #FFFFFF;
	z-index: 999;
  padding: 2rem 0;
	/* box-shadow: 0px 0px 15px #222; */
  border-top: 5px solid #447f3f;
  border-bottom: 5px solid #447f3f;
}
/* @media (max-width: 992px){
	.address-header{
		display: none;
	}
} */

.main-header img {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  max-height: 50px;
}

.label-natale{
	margin-top:60px;
}

.btn-link{
	border:2px solid #2d562a;
	padding:15px;
	font-size: 1.6rem;
    font-weight: 400;
	color:#333333;

	display:inline-block;
}

/*
 * -------------------------------------------------------> RISTORANTE CONTAINER
 */

.container-ristorante {
  border-top: 5px solid #447f3f;
}
/*
 * -------------------------------------------------------> HOTEL CONTAINER
 */

.container-ristorante {
  border-bottom: 5px solid #447f3f;
}
/*
 * -------------------------------------------------------> PRODUZIONE E VENDITA CONTAINER
 */

.container-prod {
  background-color: #fdfbef;
}

.container-prod-text {
  padding-top: 10rem;
  margin: 0 auto;
  width: 90%;
}

.bg-img-salumi {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../imgs/formaggi-salumi/formaggi-salumi.jpg');
}


#map {
	width: 100%;
	height: 65vh;
  background-color: #d2d4d3;
}

.preview-wrapper {
  padding: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.preview {
  display: block;
  width: 100%;
  min-height: 25vh;
  background-size: cover;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.preview a {
	display: block;
}

/*
 * -------------------------------------------------------> CONTACTS
 */

#contacts-container {
	margin-bottom: 30px;
	overflow: hidden;
}

.form-item {
	margin-bottom: 5px;
}

label {
	font-weight: 100;
}

input[type=text], input[type=email], input[type=submit], input[type=password] , textarea {
	padding: 10px;
	border: #000000 solid 1px;
	font-size: 14px;
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}

input[type=text]:focus, input[type=email]:focus, textarea:focus {
	border: #E03957 solid 1px;
}

input[type=text].error, input[type=email].error, textarea.error {
	border: #E03957 solid 1px;
}

input[type=text], input[type=email] {
	width: 100%;

}
textarea {
	width: 100%;
}
input[type=submit] {
	background: #FFFFFF;
	margin-left: 15px;
	text-transform: uppercase;
}

#webform-component-privacy {
	color: #CCCCCC;
	font-size: 10px;
	text-align: justify;
}

#edit-actions--2 {
	clear: both;
}

.main-footer {
  background-color: #345234;
  padding: 2rem 0;
}

.footer-main-title {
  font-size: 3.5rem;
  font-weight: 400;
}
.footer-main-subtitle {
  font-size: 2rem;
}

.titolo-footer-small {
  text-transform: uppercase;
  color: #ffffff;
  font-size: 1.6rem;
}

.text-footer {
  color: #ffffff;
  font-size: 1.2rem;
}
.text-footer a {
  color: #ffffff;
  font-size: 1.2rem;
}
.text-footer-legal {
  color: #ffffff;
  font-size: 8px;
}


/*/ FLEXSLIDER TIMER /*/
.full-flexslider-timer{
	top: auto !important;
	bottom: 70px !important;
}
