.tooltipster-mybellagiohome {
	border: 1px solid #cccccc;
	background: #FFFFFF;
	color: #666666;
}
.tooltipster-mybellagiohome .tooltipster-content {
	font-size: 12px;
	line-height: 16px;
	padding: 8px 10px;
}

.tooltipster-mybellagiohome-ico {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 1px solid #cccccc;
	background: #FFFFFF;
	color: #666666;
	width: 70px;
	height: 70px;
	overflow: hidden;
}
.tooltipster-mybellagiohome-ico .tooltipster-content {
	font-size: 12px;
	width: 70px;
	height: 70px;
}

.tooltipster-mybellagiohome-ico img {
	width: 55px;
	height: auto;
	margin-left: 7px;
	margin-top: 5px;
}