.jqlvGallery02 {
}

.jqlvGallery02 .active {
	top: 0;
	z-index: 1;
}

.jqlvGallery02 .non-active {
	z-index: 0;
}

.jqlvGallery02 .overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #000000;
	top: 0;
	left: 0;
	opacity: 0;
}
